@import url('../../reset.css');
/* noto sans kr*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 전역 변수 */
:root {
    --success-color: #2ecc71;
    --small-font-size: 16px;
    --error-color: #e74c3c;
    --checkmark-color: #43b324;

    --form-title-font-size: 15px;
    --form-title-line-height: 13px;
    --form-title-font-color: #333;
    --form-title-font-weight: 700;

    --form-description-font-size: 13px;
    --form-description-line-height: 18px;
    --form-description-font-color: rgb(117, 117, 117);
    --form-description-font-weight: 400;

    --tooltip-opacity: 0;
}

/* 클론 글씨체 */
@font-face {
    font-family: 'PretendardVariable';
    src: url('/fonts/23b386a66fd50.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.91.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.88.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.90.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.89.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.86.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.84.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.85.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.87.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.79.woff2') format('woff2'),
    url('/fonts/PretendardVariable.subset.83.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 바디 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'PretendardVariable', sans-serif;
}

.main {
    margin: 50px auto;
    box-shadow: 0px 0px 16.83px 0.17px rgba(0, 0, 0, .05);
    width: 600px;
    background-color: #fff;
    border-radius: 20px;
}

/* 로고 컨테이너 */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center; /* 로고와 이미지 세로 수평 맞추기 */
    margin: 30px 0 40px 0;
}

.logo-container a.link-to-main-page img {
    height: 70px;
    border-radius: 10px;
}

/* 폼 컨테이너의 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 500px;
}

.form {
    padding: 10px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: block;
    font-size: var(--form-title-font-size);
    color: var(--form-title-font-color);
    line-height: var(--form-title-line-height);
    font-weight: var(--form-title-font-weight);
}



.form-control input {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 14px;
}
/* input에 focus만 했을 때 (유효성 검사는 전) */
.form-control input:focus {
    outline: none;
    border-color: #777;
    border-width: 2px;
}
/* input 유호성 검사 실패했을 때*/
.form-control input.error {
    /*border-color: var(--error-color)*/
}
/*input 유효성 검사 성공했을 때*/
.form-control input.success {
    /*border-color: var(--success-color);*/
}
/* input 태그 회원가입 fetch 했는데 해당 input 태그의 유효성 검증에 실패해서 .shake 클래슬르 붙였을 때*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.form-control input.shake {
    animation: shake 0.2s;
    animation-iteration-count: 3; /* 0.2초 애니메이션이 3회 반복 */
}


/* 에러 메시지 (small 태그. form-control 클래스에 'error' 클래스 붙는 여부에 따라 보임 여부 설정됨 */
.form-control small {
    color: var(--error-color);
    font-size: var(--small-font-size);
    margin-right: 7px; /* 로그인 페이지 이동과 여백 */
    visibility: hidden;
}
.form-control small.error {
    visibility: visible;
}
.form-control a {
    font-size: var(--small-font-size);
}

/* ============== Caps Lock On 툴팁 ========== */
/* 텍스트 박스 부분 */
.input-and-tooltip-wrapper::before {
    content: "Caps Lock이 켜져 있습니다.";
    font-size: var(--form-description-font-size);
    color: var(--form-description-font-color);
    font-weight: var(--form-description-font-weight);
    line-height: var(--form-description-line-height);
    background-color: #f5f5f5;
    box-shadow: 0 0 3px #ddd;
    padding: 10px;
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    display: var(--tooltip-opacity);
    top: 50%;
    left: calc(100% + 10px);  /* 텍스트 박스를 화살표 너비만큼 이동 */
    transform: translate(0, -50%);
    opacity: var(--tooltip-opacity);
}

/* tooltip 화살표 부분 */
.input-and-tooltip-wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* 고정된 10px로 설정 */
    border-bottom: 10px solid transparent; /* 고정된 10px로 설정 */
    border-right: 10px solid #f5f5f5; /* 삼각형의 너비 10px */
    position: absolute;
    z-index: 10;
    left: calc(100%); /* 화살표가 부모 요소의 오른쪽 끝에 위치 */
    top: 50%;
    transform: translate(0, -50%);
    opacity: var(--tooltip-opacity);
}



/* 패스워드 눈 모양 관련 */
.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 20px; /* 아이콘 위치를 위해 패딩 추가 */
}

.password-wrapper i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
}
.password-wrapper i:hover {
    color: #35c5f0
}

/* 패스워드 text 타입으로 바뀔 때 보일 문구 */
#last-char {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: black;
    padding: 10px;
    font-size: 14px;
}


/* 로그인 submit 버튼*/
button.login-btn {
    cursor: pointer;
    background: #35c5f0;
    box-shadow: 0 4px 14px 0 rgba(15, 157, 200, .26);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 13px 39px;
    margin-top: 20px;
    transition: all ease .25s;
    margin: 0 auto;
}

button.login-btn:hover {
    background: #09addb;
}

/* 회원가입 페이지로 이동 */
.form div.link-to-signup-page {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.form div.link-to-signup-page span,
.form div.link-to-signup-page a {
    font-size: var(--form-description-font-size);
    line-height: var(--form-description-line-height);
    color: var(--form-description-font-color);
    font-weight: var(--form-description-font-weight);
}
.form div.link-to-signup-page span {
    margin-right: 5px;
}

.form div.link-to-signup-page a {
    color: black;
}
